@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

body{
    background-color: #fdecec;
    color: rgb(255, 255, 255);
    position: relative;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.back button{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #1b1b1b;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: 0 3px #0a0a0a;
    opacity: 0.8;
}

.back button:hover, .back button:active{
    opacity: 1;
}

.top1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.msg-head p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 5px 4px 10px #00022d, 5px 4px 10px #00007b;
}

.msg-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

img{
    border-radius: 15px;
    box-shadow: none;
}

#gallery{
    padding-top: 2em;
    padding-bottom: 2em;
}

#gallery .g-container {
    height: auto;
}

#gallery .g-container #photos-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}

.g-img{
    width: 15em;
    height: 15em;
    margin-top: 1em;
    margin-bottom: 2.5em;
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.2s;
    
}

.g-img img {
    width: 15em;
    height: 15em;
    border-radius: 5px 5px 0 0;
    background-image: url("");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: none;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #99003d;
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

@media(max-width: 670px){
    .msg-head p{
        font-size: 24px;
    }

    .msg-img img{
        width: 380px;
    }

    #gallery .g-container #photos-container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
    }
}

@media(max-width: 1000px){
    .msg-head p{
        font-size: 30px;
    }

    .msg-img img{
        width: 400px;
    }

    #gallery .g-container #photos-container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
    }
}

/* customizable heart styling */
.heart {
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    font-family: Arial;
    font-weight: 650;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes hearts-fall{0%{top:-10%}100%{top:100%}}
  
  @-webkit-keyframes hearts-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
  
  @keyframes hearts-fall{0%{top:-10%}100%{top:100%}}
  
  @keyframes hearts-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
  
  .heart{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:hearts-fall,hearts-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:hearts-fall,hearts-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}
  
  .heart:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
  
  .heart:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
  
  .heart:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
  
  .heart:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
  
  .heart:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
  
  .heart:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
  
  .heart:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
  
  .heart:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
  
  .heart:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
  
  .heart:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}