@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

body{
    position: relative;
    background-color: #000;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.top-text{
    color: #f3f3ec;
    font-family: 'Nova Mono', monospace;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 60px;
    text-shadow: 0.5px 0.5px #ff0008;

    animation: effect 2s infinite alternate;
 }

@keyframes effect {
    0% {color: #a40003;}
    20% {color: #c60000;}
    40% {color: #dc0000;}
    60% {color: #ee0509;}
    80% {color: #fa0810;}
    100% {color: #ff0008;}
}

.title{
    margin-bottom: 50px;
}

.flex-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-list li{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 60px 0px;
    text-align: center;
}

li {
    font-family: 'Courgette', cursive;
    font-size: 42px;
    color: white;
    background-color: #e6005c;
    height: 100px;
    width: 500px;
    line-height: 80px;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #b30047;
    opacity: 0.8;
}

li:hover{
    opacity: 1;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #404040;
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}

@media(max-width: 1000px)
{
    li{
        width: 350px;
    }
}

@media(max-width: 670px)
{
    .top-text{
        font-size: 30px;
        text-align: center;
    }

    li{
        height: 80px;
        width: 300px;
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
  
  @-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
  
  @keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
  
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
  
  .snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}
  
  .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
  
  .snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
  
  .snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
  
  .snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
  
  .snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
  
  .snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
  
  .snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
  
  .snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
  
  .snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
  
  .snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}